/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit; }

/**
 * Basic styles for links
 */
a {
  color: #e50050;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #222222;
    text-decoration: underline; }

/**
 * Basic typography style for copy text
 */
body {
  color: #222222;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

h1 {
  text-transform: uppercase;
  font-size: 1.3em; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.header__nav__top, .header__nav__middle, .header__nav__bottom {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 0;
  margin: auto;
  list-style: none; }
  .header__nav__top li, .header__nav__middle li, .header__nav__bottom li {
    margin-right: 0.5em; }
    .header__nav__top li a, .header__nav__middle li a, .header__nav__bottom li a {
      color: black;
      padding: 0.5em;
      font-size: 0.7em; }

.women__card--small, .women__card--big, .men__card--small, .men__card--big {
  height: 200px;
  margin-bottom: 1em; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 0.5em;
  margin: auto; }
  .header__brand {
    width: calc(100% - 1em);
    margin: 0 0em 0 1em; }
  .header__nav {
    width: calc(100% - 1em);
    margin: 0 0em 0 1em; }
    .header__nav__top {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }

.women h1 {
  text-align: center; }

.women__wrapper {
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0;
  margin: auto; }

.women .women-left {
  width: calc(50% - 0.5em);
  margin: 0 0.5em 0 0em; }

.women .women-right {
  width: calc(50% - 0.5em);
  margin: 0 0 0 0.5em; }

.women__card--small {
  background-image: url("http://a1.ocimage.us/pimg/161053_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%; }

.women__card--big {
  background-image: url("http://a1.ocimage.us/pimg/161118_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%; }

.men h1 {
  text-align: center; }

.men__wrapper {
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0;
  margin: auto; }
  .men__wrapper .men-left {
    width: calc(50% - 0.5em);
    margin: 0 0.5em 0 0em; }
  .men__wrapper .men-right {
    width: calc(50% - 0.5em);
    margin: 0 0 0 0.5em; }

.men__card--small {
  background-image: url("http://a1.ocimage.us/pimg/160535_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%; }

.men__card--big {
  background-image: url("http://a1.ocimage.us/pimg/160937_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%; }

.blog {
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0;
  margin: auto;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between; }
  .blog h1 {
    width: 100%;
    text-align: center; }
  .blog__article--big {
    height: 250px;
    width: calc(100% - 0em);
    margin: 0 0em 0 0em;
    background-image: url("https://www.openingceremony.us/userfiles/image/news/2016-3/march2016/030116-aalto-pfw-fw16/_mg_5417.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; }
  .blog__article--bottom-left {
    height: 250px;
    width: calc(50% - 0.25em);
    margin: 0 0.25em 0 0em;
    background-image: url("https://www.openingceremony.us/userfiles/image/news/2016-3/march2016/030216-yproject-pfw-fw16/5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; }
  .blog__article--bottom-right {
    height: 250px;
    width: calc(50% - 0.25em);
    margin: 0 0em 0 0.25em;
    background-image: url("https://www.openingceremony.us/userfiles/image/news/2016-3/march2016/030216-yproject-pfw-fw16/6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; }

.hero {
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0.5em;
  margin: auto;
  background-image: url("https://www.openingceremony.us/userfiles/image/news/2016-3/march2016/030116-aalto-pfw-fw16/_mg_5417.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  color: white; }
  @media screen and (min-width: 700px) {
    .hero {
      height: 600px; } }

/*# sourceMappingURL=main.css.map */
