// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  @include flex-container(90%, 100%, $flex-flow: column nowrap);
  @include e("brand") {
    @include col-width(100%);
    background-color: black;
    color: white;
    padding: 1em 0;
  }
  @include e("nav") {
    @include col-width(100%);
    @include e("top") {
      @extend %header__nav;
      justify-content: flex-end;
    }
    @include e("middle") {
      @extend %header__nav;
    }
    @include e("bottom") {
      @extend %header__nav;
    }
  }
}
