// -----------------------------------------------------------------------------
// This file contains all styles related to the men of the site/application.
// -----------------------------------------------------------------------------
body {
  @include flex-container(100%, 100%, $flex-flow: row wrap);
  max-width: 1300px;
}
.men{
  @extend %section;
  @extend %h1;
  @include e("wrapper") {
    @include flex-container($flex-flow: row wrap);
    .men-left {
    @extend %col-33;
    }
    .men-right {
      @extend %col-66;
    }
  }
  @include e("card") {
    @include m("small") {
      @extend %card--small;
      @include bg-img("http://a1.ocimage.us/pimg/160535_1.jpg");
    }
    @include m("big") {
      @extend %card--small;
      @include bg-img("http://a1.ocimage.us/pimg/160937_1.jpg");
      @media screen and (min-width: 700px) {
        height: 620px;
        @include col-width(100%);
        margin-top: 1em;
        order: 1;
      }
    }
  }
  @media screen and (min-width: 1000px) {
    width: 45%;
    margin-left: 0;
    margin-right: 5%;


  }
}
